.conheca {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.conheca__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  margin: 0;
  max-width: 830px;
}

.conheca__quote {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  max-width: 738px;
  margin: 40px 0 10px 0;
}

.conheca__quote-author {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: right;
  max-width: 738px;
  margin: 0;
}

.conheca__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  max-width: 738px;
  margin: 32px 0 118px 0;
}

