.conheca {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.conheca__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  margin: 0;
  max-width: 830px;
}

.conheca__quote {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  max-width: 738px;
  margin: 40px 0 10px 0;
}

.conheca__quote-author {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: right;
  max-width: 738px;
  margin: 0;
}

.conheca__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  max-width: 738px;
  margin: 32px 0 118px 0;
}

@media (max-width: 768px) {
  .conheca {
    width: 90%;
  }

  .conheca__title {
    font-size: 45px;
    line-height: 49px;
  }

  .conheca__quote {
    margin: 50px 0 10px 0;
  }

  .conheca__text {
    margin: 32px 0 88px 0;
  }
}

@media (max-width: 600px) {
  .conheca__title {
    font-size: 40px;
    line-height: 45px;
  }

  .conheca__quote {
    font-size: 20px;
    line-height: 25px;
  }

  .conheca__quote-author {
    font-size: 20px;
    line-height: 25px;
  }

  .conheca__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 450px) {
  .conheca__title {
    font-size: 35px;
    line-height: 40px;
  }

  .conheca__quote-author {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 320px) {
  .conheca {
    width: 90%;
  }

  .conheca__title {
    font-size: 32px;
    line-height: 35px;
  }

  .conheca__quote {
    margin: 40px 0 10px 0;
  }

  .conheca__text {
    margin: 32px 0 64px 0;
    font-size: 14px;
  }
}
